*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position:relative;
}

.container .bg{
    position: absolute;
    inset: 0;
    overflow-y: hidden;
}

.container .bg img{
    height: 100vh;
    width: 100%;
    filter: brightness(40%);
}


.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 20em;
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    border-top: 2px solid rgba(72, 70, 70, 0.5);
    border-left: 2px solid rgba(72, 70, 70, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    position: relative;
    z-index: 2;

}

.container .content img{
    position: relative;
    height: 17em;
    width: 17em;
    border-radius: 15px;
}
.container .button{
    position: relative;
    z-index: 2;
    /* transform: translateX(20vh); */
}

.container .button a{
    color: black; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 20px;
    display: inline-block;
    background-color: aliceblue;
}

.container .button a:hover{
    background-color: rgba(26, 116, 56, 0.267);
    color: aliceblue;
    font-weight: 600;
    position: relative;
    z-index: 100;
}

#section{
    position: relative;
    background-color: black;
    z-index: 100;
}

nav{
    height: 15vh;
}

.desc{
    height:85vh;
    background-color: black;
    /* opacity: 0.7; */
    /* object-fit: fill; */
    position: absolute;
    width: 100%;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc p:nth-child(2){
    margin-top: 1.2rem;
}

.container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0; 
    background: linear-gradient(to top, rgba(1, 41, 4, 1), transparent);
    z-index: 99;
}

.desc p{
    /* position: absolute; */
    z-index: 10;
    color: rgb(212, 245, 212);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2rem;
    max-width: 60%;
}

.desc::after{
    content: '';
    height: 50vh;
    width: 50vh;
    bottom: 0;
    left: 0;
    background: radial-gradient(rgb(91, 217, 91), rgb(33, 142, 82));
    opacity: 0.7;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0px -20px 100px 40px rgb(33, 142, 82);
    position: absolute;
    border-top-right-radius:100%;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    /* transform: translateX(-100vh) translateY(40vh); */
}
.small{
    height: 10vh;
    width: 10vh;
    background: radial-gradient(rgb(118, 255, 87), rgb(223, 244, 34));
    opacity: 0.65;
    border-radius: 50%;
    z-index: 100;
    top:10vh;
    right: 20vh;
    box-shadow: 0px 10px 100px 10px rgb(223, 244, 34);
    position: absolute;
}

nav{
    height: 15vh;
}

nav ul{
    display: flex;
    justify-content: space-around;
    /* margin: 5px; */
}

nav ul li{
    margin: 10px;
    border-radius: 30px;
    padding: 20px;
    transition: 0.5s;
}

nav ul li a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: rgb(212, 245, 212);
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul li:hover{
    background-color: rgb(212, 245, 212);
    color: black;
}
nav ul li a:hover,
#active{
    color: black;
}

#active{
    background-color: rgb(212, 245, 212);
}

.footer{
    /* position: absolute; */
    transform: translateY(84vh);
    position: absolute;
    z-index: 101;
}