@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.wrapper{
    /* align-items: center; */
    /* justify-content: center; */
    /* position: absolute; */
    display:flex;
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
}
#main_img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    animation: dark 2s;
    animation-fill-mode: forwards;
    cursor: pointer;
    pointer-events: none;
}

@keyframes dark {
    0%{
        filter: grayscale(0%);
    }    
    100%{
        filter: grayscale(60%);
    }
}

.text{
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top: 5rem;
    margin-left: 2.5rem;
    position: absolute;
    /* transform: translateY(5vh) translateX(-6vh); */
    color: aliceblue;
    font-size: 1.7em;
    cursor: pointer;
    text-shadow: 0 0 20px aliceblue;
}

.text:hover{
    text-shadow: 0 0 10px aliceblue;
}
.text ul{
    display: flex;
    list-style: none;
}
.text ul li{
    padding: 6px;
    opacity: 0;
}

.text ul li:nth-child(1){
    transform: translateX(-60px);
    animation-name: ohayo1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.text ul li:nth-child(2){
    transform: translateX(-30px);
    animation-name: ohayo2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.text ul li:nth-child(3){
    transform: translateX(0px);
    animation-name: ohayo3;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.text ul li:nth-child(4){
    transform: translateX(30px);
    animation-name: ohayo4;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.text ul li:nth-child(5){
    transform: translateX(60px);
    animation-name: ohayo5;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes ohayo1 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 100%;
        transform: translateX(12px);
    }
}
@keyframes ohayo2 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 100%;
        transform: translateX(6px);
    }
}
@keyframes ohayo3 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes ohayo4 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 100%;
        transform: translateX(-6px);
    }
}
@keyframes ohayo5 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 100%;
        transform: translateX(-12px);
    }
}

#new{
    background: radial-gradient(rgb(41, 40, 40), rgb(0,0,0));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    align-items: center;
}

#new::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background: linear-gradient(to top, black, transparent);
    z-index: 100;
}
::-webkit-scrollbar{
    display: none;
}

@media (max-width:642px){
    .c1{
        display: none;
    }
}